.calculatorContainer {
  width: 60%;
  max-width: 750px;
  min-width: 300px;
  margin-top: 4rem;
}

body, main {
  display: grid;
  place-items: center;
  gap:20px;
}

.display {
  height: 100px;
  padding-right: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  background-color: #848793;
  color: #fff;
  font-size: 3rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  font-weight: bolder;
  height: 100px;
  background-color: #e0e1e1;
  border: 1px solid rgb(208, 209, 208);
  cursor: pointer;
}

.orange {
  background-color: #f5903f;
}

.zero {
  grid-area: 5 / 1 / 5 / 3;
}

.btn:active {
  background-color: #c1c4c4;
}

.quote {  
  font-size: 1.5rem;
  width: 80vw; 
  min-width: 350px;  
}
